.container
  .row
    .col.l6.s12.m8.offset-m2.offset-l3.center
      %img.responsive-img{:alt => "", :src => "/images/logo-vow.png"}/
  .row
    %h5.flow-text.col.l8.offset-l2.m8.offset-m2.center Apoya a las causas en las que crees a través de las redes sociales que tienes
  .row
    %div.signup-button.col.l2.m4.s12.push-l3.button-vow.button-vow-hide.waves-effect.waves-light.btn-large
      = form_tag (omniauth_authorize_path(:user, :twitter)),:method=>'get',:multipart =>true  do
        = hidden_field_tag 'type', '1'
        = submit_tag "Fundacion", :class =>"vow-button"
    %div#registro.signup-button.col.l2.m4.s12.offset-l5.offset-m4.button-vow.waves-effect.waves-light.btn-large
      Regístrate
    %div.signup-button.col.l2.s12.m4.push-l3.button-vow.button-vow-hide.waves-effect.waves-light.btn-large
      = form_tag (omniauth_authorize_path(:user, :twitter)),:method=>'get',:multipart =>true  do
        = hidden_field_tag 'type', '0'
        = submit_tag "voluntario", :class =>"vow-button"
.row.fundacion-destacada.carousel
  .col.l4.m6.s10.carousel-item{:href => "#one!"}
    .card.large
      .card-content
        %span.card-title Titulo
        %hr/
        %p.left-align.destacado-texto
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .card-action
        %button.btn.button-vow Apoya
  .col.l4.m6.s10.carousel-item{:href => "#two!"}
    .card.large
      .card-content
        %span.card-title Titulo
        %hr/
        %p.left-align.destacado-texto
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .card-action
        %button.btn.button-vow Apoya
  .col.l4.m6.s10.carousel-item{:href => "#three"}
    .card.large
      .card-content
        %span.card-title Titulo
        %hr/
        %p.left-align.destacado-texto
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .card-action
        %button.btn.button-vow Apoya
#vow-description.section.scrollspy
  .row.vow-description.parallax-container
    .parallax
      %img{:src => "/images/vow-para.jpg", :width => "1280"}/
    .container
      .col.l8.m8.s12.push-m2.push-l2
        .video-container
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "480", :src => "https://www.youtube.com/embed/Kba_jxjAAxw", :width => "853"}
      .col.l10.push-l1.m10.push-m1.s12.white-text
        %h4.center.flow-text.texto ¿Qué es Vow?
        %p.center.flow-text.texto
          Es una herramienta de comunicación masiva para que entidades sin ánimo de lucro puedan monetizar sus redes sociales mientras aumentan su impacto y alcance.
  #voluntarios.vow-description-second.section.scrollspy
    .container
      .row
        .col.l6.m6.s12
          .text.right-align.center
            %h5 Ahora tus publicaciones valen dinero
            %p Tus publicaciones en redes sociales van a tener un valor económico para las fundaciones o causas sociales que decidas apoyar
        .col.l6.m6.s12.center.hide-on-small-only
          %img.responsive-img{:src => "/images/description-second.png"}/
      .row
        .col.l6.m6.s12.center
          %img.responsive-img{:src => "/images/vow-description.png"}/
        .col.l6.m6.s12
          .text.right-align.center
            %h5 Apoya difundiendo mensajes
            %p Puedes ayudar para que las causas o fundaciones tengan una difusión mayor y un impacto más grande.
      .row
        .col.l6.m6.s12
          .center.text
            %h5
              Mide tu impacto
            %p
              Te enviaremos un reporte para que sepas qué impacto tuvo tu apoyo en redes sociales y que logros se pudieron llevar a cabo.
        .col.l6.m6.s12.center
          %img.responsive-img{:src => "/images/mide.png"}/
  #fundaciones.vow-description-third.section.scrollspy.parallax-container
    .parallax
      %img{:src => "/images/fundacion-para.jpg"}/
    .row
      .texto.col.l8.m12.push-l2.s12.white-text
        .text.center
          %h5
            Si eres una fundación, un movimiento social o alguien que está mejorando el mundo
          %h6
            Esta herramienta es para ti, para que todas esas campañas e iniciativas que tienes puedan ser potenciadas por el poder de las multitudes a través de las redes sociales.
            Llega a miles de personas de manera organizada posicionando tendencias mientras consigues recursos económicos y en especie.
  .vow-description-four
    .container
      .row
        .col.l6.m6.s12
          .center.text.left-align
            %h5 Visibiliza a los que mejoran el mundo
            %p
              Hay temas que importan, hay temas que aportan y hay iniciativas que necesitan ser conocidas por más personas para que entre todos podamos ayudar.
        .col.l6.m6.s12.hide-on-small-only.center
          %img.responsive-img{:src => "/images/visibiliza.png"}/
      .row
        .col.l6.m6.s12.center
          %img.responsive-img{:src => "/images/voluntarios.png"}/
        .col.l6.m6.s12
          .center.text.left-align
            %h5
              ¿Tienes una base de datos de voluntarios pero no sabes que ponerlos a hacer?
            %p
              Con VOW pueden hacerlo a través de su celular y sus  redes sociales sin la necesidad de disponer de más tiempo o de desplazarse.
